/*
- Graph scaling
- Timeline 
- Year
+ Draggable
- Visible scrollbar
- React Component
- Styling
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
    text-decoration: none;
    color: #336699;
}

#timeline-component {
    /*display: flex;
    flex-direction: column;*/
    border: 1px solid #ccc;
}
#timeline-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    border-left: 1px dotted #ccc;
}
#timeline-year {
    float: left;
    text-align: center;
    padding: 1.5em 1em;
}
#timeline {
    width: 2700px;
    cursor: move;
    padding-top: 75px;
}

#track {
    /*border-top: 1px solid red;
    border-bottom: 1px solid red;*/
}
#track:after {
    height: 0; 
    display: block; 
    clear: both;
    content: " "; 
    visibility: hidden; 
}
.node {
    width: 27px;
    height: 25px;
    background: #ccc;
    position: relative;
    float: left;
    cursor: pointer;
    /*border-right: 1px solid #111;
    box-sizing: border-box;*/
}
.node > .date {
    width: 41px;
    position: absolute;
    font-size: 0.75em;
    bottom: -20px;
    left: -9px;
    border: 1px dotted #000;
    text-align: center;
}

/*TODO: transitions of visibility*/
.node > .popup {
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 0.75em;
    left: -40px;
    padding: 10px 2px;
    position: absolute;
    text-align: center;
    top: -65px;
    visibility: hidden;
    width: 100px;
}

/* I got lazy :/ */
.node > .popup:after, .node > .popup:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.node > .popup:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.node > .popup:before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #999;
    border-width: 11px;
    margin-left: -11px;
}

/* Because the :has pseudoclass is not supported yet */
.node-with-date {
    background: #999;
}

.node > .popup > p {
    margin: 0;
    padding: 0;
}
.node-with-data:hover {
    background: #111;
}

.summer {
    background: yellow;
}
.winter {
    background: blue;
}


/* Track Controls */

#controls {
    font-size: 0.75em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
}

/* Graphing */

#graph-wrapper {
    margin-top: 2em;
}
#graph-wrapper * {
    margin-top: 0.5em;
}
.graph-line-offset {
    margin-left: -13px;
}
