body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    scroll-behavior: smooth;
}
#timeline-wrapper {
    border: 1px solid #ccc;
    height: 175px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #eee;
}
#timeline {
    width: 3000px;
    height: 250px;
    cursor: move;
    padding-top: 100px;
    position: relative;
}
.track {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
.track:after {
    height: 0; 
    display: block; 
    clear: both;
    content: " "; 
    visibility: hidden; 
}
.node {
    width: 25px;
    height: 25px;
    background: #ccc;
    position: relative;
    float: left;
    border-right: 1px solid #111;
    cursor: pointer;
}
.node > .date {
    width: 41px;
    position: absolute;
    font-size: 0.75em;
    bottom: -20px;
    left: -9px;
    border: 1px dotted #000;
    text-align: center;
}

/*TODO: transitions of visibility*/
.node > .popup {
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 0.75em;
    left: -40px;
    padding: 10px 2px;
    position: absolute;
    text-align: center;
    top: -65px;
    visibility: hidden;
    width: 100px;
}

/* I got lazy :/ */
.node > .popup:after, .node > .popup:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.node > .popup:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.node > .popup:before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #999;
    border-width: 11px;
    margin-left: -11px;
}

/* Because the :has pseudoclass is not supported yet */
.node-with-date {
    background: #999;
}

.node > .popup > p {
    margin: 0;
    padding: 0;
}
.node-with-data:hover {
    background: #111;
}

.summer {
    background: yellow;
}
.winter {
    background: blue;
}

#controls {
    font-size: 0.75em;
    clear: both;
    padding: 0.5em;
}
#controls:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block; 
    clear: both;
}
#ahead {
    float: left;
}
#behind {
    float: right;
}